/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 déc. 2018, 19:03:35
    Author     : Bacem
*/

.lbl .ui-layout-unit-content {
    background:  linear-gradient(#e1edff,#d0def3) 
}
.central {
   position:fixed;
    top: 30%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background:  linear-gradient(#649cf0,#a3c4f8) ;
    box-shadow: #95aaca 0px 2px 3px;
}
.logo  h1 , .logo  h6 {
   text-align: center ;
 
     
}
.list-item {
    background-color: white;
    padding: 1em ;
    margin: 2em ;
    min-width: 20% ;
    max-width: 50% ;
    display:  inline-block;
}
.list-item  .ui-link  {
    margin-top: 5em;
    size: 40px ;
    font-size: xx-large ;
    
}